
<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="#">
                <i class="fa fa-dashboard"></i>
                <span>Danh Mục</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>Phòng Tốt</span>
            </a>
            <ul class="sub">
                <li><a href="@Url.Action("Room","Room")">Quản lý phòng</a></li>
                <li><a href="@Url.Action("RoomType", "Home")">Quản lý loại phòng</a></li>
                <li><a href="/Administrator/NewsAdmin/Add">Thống kê</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Tin Tức</span>
            </a>
            <ul class="sub">
                <li><a href="@Url.Action("Post","Post")">Quản lý tin tức</a></li>
                <li><a href="@Url.Action("Room","Room")">Quản lý loại tin tức</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Người dùng</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/SilderAdmin/ViewSilder">Quản lý người dùng</a></li>
                <li><a href="/Administrator/SilderAdmin/Add">Quản lý nhóm quyền</a></li>
                <li><a href="/Administrator/SilderAdmin/Add">Quản lý quyền</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Hệ Thống</span>
            </a>
            <ul class="sub">
                <li><a href="@Url.Action("System","System")">Quản lý hệ thống</a></li>
                <li><a href="/Administrator/Header/Add">Thêm Header</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Quản lý tài khoản</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/Account/ViewAccount">Quản lý tài khoản</a></li>
                <li><a href="/Administrator/Account/Register">Thêm tài khoản</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>